#optionsframework .section-info .heading {
  	padding-bottom: 10px;
  	margin-bottom: 0;  	
  	border-bottom: 1px solid #ccc;
  	font-weight: bold;
}

#optionsframework .section.section-info {
  	margin-top: 25px;
}

#optionsframework .section.section-info:first-of-type {
  	margin-top: 0;
}