/*
 Theme Name:        QikRes
 Description:       QikRes Theme - Child theme of MultimediaThemeRes
 Author:            Alexist Ong
 Template:          MultimediaThemeRes
 Version:           1.13.0
 License:           GNU General Public License v2 or later
 License URI:       http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:       qikres
 GitLab Theme URI:  https://gitlab.com/ubicompsystem/qikres
*/

html {
  	-webkit-box-sizing: border-box;
          box-sizing: border-box;
  	overflow-x: hidden;
	scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
    outline: none;
}

body {
	margin: 0;
	padding: 0;
	line-height: normal;
}

input, select, textarea, button, table, td, p {
	font-family: inherit;
  	font-size: inherit;
	color: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}

p {
    letter-spacing: normal;
}

.post_content {
    color: inherit;
}

.post_content .post_box {
	overflow: visible;
}

.post_content .post_box a {
    color: inherit;
}

.post_content .post_box h3 {
	font-family: inherit;
}

.post-title-header {
	display: none;
}

.head-menu-nav {
    position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.top-nav > [class^="menu"],
.head-nav > [class^="menu"] {
	height: 100%;
}

.top-nav ul,
.head-nav ul {
	white-space: nowrap;
	height: 100%;
}

.top-nav ul li,
.head-nav ul li {
	height: 100%;
}

.head-nav ul li a {
    font-weight: 600;
}

.top-nav ul li a,
.head-nav ul li a {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.top-nav ul li ul li,
.head-nav ul li ul li {
	display: block;
	width: auto;
  	height: auto;
}

.top-nav ul li ul li a,
.head-nav ul li ul li a {
  	line-height: 28px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.top-nav {
	width: 100%;
	position: relative;
    padding: 10px;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: auto;
    text-align: right;
}

.top-nav ul li {
    display: inline-block;   
    margin: 0 0 0 15px;
    position: relative;
    font-size: 13px;
}

.top-nav ul li ul {
	display: none;
    left: 0;
    position: absolute;
    top: 100%;
    z-index: 100;	
}

.top-nav ul li ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.top-nav ul li ul li a {
	border-bottom: none;
    padding: 8px 10px;
}

.slicknav_nav {
  	position: absolute;
  	width: 100vw;
  	right: 0;
  	top: 100%;
}

.slicknav_btn {
	background: none;	
}

#head .container {
	width: 100%;
}

header#head {
	padding-top: 0;
	position: absolute;
	top: 0;
	width: 100%;
  	z-index: 99999;
}

.foot-col {
	color: inherit;
}

.foot-col p,
.foot-col a,
.foot-col .widget_box ul li a,
.foot-col .footer_box h3 {
	color: inherit;
}

.widget_box .fa-ul {
    margin-left: 20px;
}

.bottom-foot p {
    line-height: 25px;
}

.blog_post_box .blog_post_content {
	font-family: inherit;
}

.full-section {
    min-height: 100vh;
}

.ubicomp-form--container {
	position: fixed;
	right: 0;
	top: 150px;
	z-index: 99998;
	-webkit-transform: translate3d(100%, 0, 0);
	        transform: translate3d(100%, 0, 0);
	-webkit-transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	-o-transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	padding: 10px;
	width: 300px;
}

.ubicomp-form--container.open {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

.ubicomp-form--container label {
	display: block;
}

.ubicomp-form--container .booking-form {
	padding: 5px;
}

.ubicomp-form--container .booking-form input,
.ubicomp-form--container .booking-form select {
	width: 100%;
}

.ubicomp-form--container .booking-form.checkout {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.ubicomp-form--container .booking-form .night {
    width: calc(25% - 5px);
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 calc(25% - 5px);
	        flex: 0 0 calc(25% - 5px);
}

.ubicomp-form--container .booking-form .out {
    width: calc(75% - 5px);
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 calc(75% - 5px);
	        flex: 0 0 calc(75% - 5px);
}

.ubicomp-form--container .booking-form.person {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.ubicomp-form--container .booking-form.person div {
   	width: calc(50% - 5px);
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 calc(50% - 5px);
	        flex: 0 0 calc(50% - 5px);
}

.ubicomp-form--container .closebookbtn {
    /*display: none;*/
}

.qikres-login-menu:not(.loggedin) {
    display: none;
}

.qikres-login-button.loggedin {
    display: none !important;
}

.qikres-login-menu.loggedin a.has-user-icon {
	padding-left: 30px;
}

.head-nav ul li ul li a:hover {
	background: rgba(255, 255, 255, 0.1);
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="phone"],
input[type="tel"],
input[type="date"], 
select,
.post_content .post_box input[type="text"], 
.post_content .post_box input[type="email"], 
.post_content .post_box input[type="number"], 
.post_content .post_box input[type="password"], 
.post_content .post_box input[type="search"], 
.post_content .post_box input[type="phone"],
.post_content .post_box input[type="tel"],
.post_content .post_box input[type="date"], 
.post_content .post_box select {
    width: 300px;
    height: 40px;
}

input[type="text"], 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="phone"],
input[type="tel"],
input[type="date"], 
select,
textarea,
.post_content .post_box input[type="text"], 
.post_content .post_box input[type="email"], 
.post_content .post_box input[type="number"], 
.post_content .post_box input[type="password"], 
.post_content .post_box input[type="search"], 
.post_content .post_box input[type="phone"],
.post_content .post_box input[type="tel"],
.post_content .post_box input[type="date"], 
.post_content .post_box select,
.post_content .post_box textarea {
	border: 1px solid #ddd;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 0 5px;
}

input[type="submit"], 
input[type="button"], 
input[type="reset"], 
button {
    padding: 1em 2em;
    text-transform: none;
    border: none;
    margin: 0;
    cursor: pointer;
}

.slicknav_nav .slicknav_row:hover {
  	border-radius: 0;
}

.uppercase-text {
	text-transform: uppercase;
}

.qikres-login-menu a > span.user-icon {
	width: 28px;
    height: 28px;
	line-height: 28px;
    background: #333;
    display: inline-block;
    text-align: center;    
    border-radius: 50%;
    margin-right: 4px;
	color: #fff;
	position: absolute;
	left: 0;
}

.ui-widget.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

.error404 article.post_content {
    padding: 25px 0;
}

.error404 article.post_content h1,
.error404 article.post_content h2,
.error404 article.post_content h3,
.error404 article.post_content h4,
.error404 article.post_content h5,
.error404 article.post_content h6 {
    font-weight: 400;
}

.error404 .error404--content > div {
    display: inline-block;
    padding: 15px;
}

.error404 .error404--content,
.error404 .error404--content * {
    vertical-align: top;
}

.error404 .error404--status-code {
    font-size: 11em;
    margin-bottom: 0;
    margin-top: -70px;
}

.error404 .error404--status-desc {
    margin-bottom: 15px;
}

.error404 .error404--return-link {
    margin-top: 25px;
}

@media only screen and (max-width: 960px) {	    
    .top-nav + .head-menu-nav .logo.logo {
        margin-top: 0;
    }
	
	.head-menu-nav .top-nav a {
		font-size: 0.85rem;
	}
	
	.slicknav_menu {
		background: transparent;
      	width: auto;
        height: 100%;
      	z-index: 9999;
		padding: 0;
        top: 0;        
	}
	
	.slicknav_btn {
        position: absolute;
        top: 50%;
        right: 10px;
        -webkit-transform: translate3d(0, -50%, 0);
                transform: translate3d(0, -50%, 0);
		padding: 10px;
        margin: 0;
	}
  
  	.ubicomp-form--container.ubicomp-form--container {
      	top: 150px;
  	}
}

@media only screen and (max-width: 767px) {
  	.foot-col {
        margin-bottom: 40px;
    }

    .foot-col:last-child {
        margin-bottom: 0;
    }
  
    .container {
        width: calc(100vw - 40px);
    }
}